//
// timeline.scss
//

/************** Horizontal timeline **************/

.table {
    .Processing {
        background: #ccc;
    }
    .Cancelled {
        background: #e44545;
    }
}

.thumbnail-img {
    height: 50px;
    width: 50px;
}

.align-center {
    display: flex;
    align-items: center;
}

.align_center {
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: center;
}